body {
    margin: 0;
}

.navbar {
    border-bottom: 3px solid #cccccc;
}
.topnav {
    overflow: hidden;
    background-color: #ffffff;
    margin: auto;
    width: 960px;
  }
  
  .topnav a {
    float: left;
    color: #777777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .float-right {
      float: right;
      padding-top: 15px;
  }

  .topnav span {
    padding-top: 15px;
    float: left;
    color: #777777;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
  }
   
  
  .topnav a.active {
    background-color: #4aaaa5;
    color: white;
    padding: 24px;
    font-size: 30px;
    font-weight: bold;
  }

